<!DOCTYPE html>

<html>
  <head>
    <title>React Currency Converter</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="css/base.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

      var CurrencyConverter = React.createClass({
        getInitialState: function() {
          return {val: this.props.start};
          },
        handleChange: function(event) {
          this.setState({val: event.target.value});          
        },
        render: function() {
          return (
            <tr style={{border: "1px solid black"}}>
              <td><input type="number" size="5em" onChange={this.handleChange} value={this.state.val} min="0" style={{width: "50px"}} /> {this.props.src}</td>
              <td>&#8594;</td>
              <td>{(this.state.val * this.props.rate).toFixed(this.props.roundoff)}</td>
              <td>{this.props.dest}</td>
            </tr>
          );
        }
      });       
      
      var CurrencyConverterPanel = React.createClass({
        render: function() {
          return (
            <div className="commentList">
              <h3>Currency Converters</h3>
              <table style={{borderCollapse: "collapse"}}>
                <CurrencyConverter src="dollars"    dest="pounds"     rate="0.65" start="0" roundoff="2" />
                <CurrencyConverter src="pounds"     dest="dollars"    rate="1.55" start="0" roundoff="2" />
                <CurrencyConverter src="marks"      dest="medallions" rate="0.02" start="0" roundoff="0" />
                <CurrencyConverter src="medallions" dest="marks"      rate="3"    start="0" roundoff="0" />
              </table>  
            </div>
          );
        }
      });
      
      React.render(
        <CurrencyConverterPanel />,
        document.getElementById('content')
      );    
    
    </script>
    <!-- script type="text/jsx;harmony=true" src="scripts/example.js"></script -->
  </body>
</html>
